body {
    background-image: url('../images/fon2.jpg');
    background-repeat:inherit; /* Наследует значение родителя. */
}

h1 {
     color: red;
    text-align:center; /*Определяет горизонтальное выравнивание текста в пределах элемента.*/
}
p{
    float:left; /* Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон. Когда значение свойства float равно none, элемент выводится на странице как обычно, при этом допускается, что одна строка обтекающего текста может быть на той же линии, что и сам элемент.  */
    width:50%;
    color:green;
}
input{
    margin-bottom: 10px; /* Устанавливает величину отступа от нижнего края элемента. Отступом является расстояние от внешнего края нижней границы текущего элемента до внутренней границы его родительского элемента  */
    margin-top:10px; /* Устанавливает величину отступа от верхнего края элемента. Отступом является расстояние от внешнего края верхней границы текущего элемента до внутренней границы его родительского элемента */

}
.block{
    float:left; /* Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон. Когда значение свойства float равно none, элемент выводится на странице как обычно, при этом допускается, что одна строка обтекающего текста может быть на той же линии, что и сам элемент.  */
    width:50%;
    color: blue;
}

/************** CSS MENU**********************/
